.select-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--indigo-200)!important;
}
.lp-arrow.t-bg:hover svg{
    fill: #4561ec;
}
.lp-arrow.t-bg:hover svg circle, .lp-arrow.t-bg:hover svg path {
    stroke: #000!important;
}
.line-white.indigo-light-bg {
    opacity: 1;
    visibility: visible;
}
.gs-container.cta-block {
    visibility: visible;
}
.ar-carousel.is-guide .ar-items {
    margin-bottom: 10px;
}
.ar-collection:after {
    position: absolute;
    bottom: -1px;
    right: -342px;
    background: #b7b7bc;
    width: 100%;
    height: 1px;
    content: "";
}
@media screen and (max-width: 767px)
    .contact-form-wrap {
        position: relative;
        width: 100%;
    }
    .get-started-form-slider.form-slider-mobile {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
