.select-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--indigo-200)!important;
}
.lp-arrow.t-bg:hover svg{
    fill: #4561ec;
}
.lp-arrow.t-bg:hover svg circle, .lp-arrow.t-bg:hover svg path {
    stroke: #000!important;
}
.cta:hover {
    color: var(--indigo)!important;
    background-color: rgba(0, 0, 0, 0)!important;
}
.line-white.indigo-light-bg {
    opacity: 1;
    visibility: visible;
}
.contact-form-wrap {
    position: relative;
    width: 100%;
}
