.select-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--indigo-200)!important;
}
.lp-arrow.t-bg:hover svg{
    fill: #4561ec;
}
.lp-arrow.t-bg:hover svg circle, .lp-arrow.t-bg:hover svg path {
    stroke: #000!important;
}
.line-white.indigo-light-bg {
    opacity: 1;
    visibility: visible;
}
.gs-container.cta-block {
    visibility: visible;
}
.ar-carousel.is-guide .ar-items {
    margin-bottom: 10px;
}
.ar-collection:after {
    position: absolute;
    bottom: -1px;
    right: -342px;
    background: #b7b7bc;
    width: 100%;
    height: 1px;
    content: "";
}

.ui-selectmenu-button.ui-button {
    width: 237px !important;
}
.ui-selectmenu-button {
    background-color: var(--indigo-200) !important;
    background-image: none!important;
    border: 0!important;;
    border-radius: 56px;
    padding: 8px 15px!important;
    font-weight: 600!important;
    font-family: 'Inter'!important;
    font-size: 16px!important;
}

.ui-state-default .ui-icon.custom-button, .ui-icon.custom-button, .ui-button .ui-icon.custom-button {
    background-image: url('https://plabesores123.github.io/rent/images/down-arrow.svg');
    margin-top: 4px!important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus, .ui-button:active {
    border: 0 !important;
    background: var(--indigo-200) !important;
    font-weight: 600!important;
    color: var(--gray-600)!important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 0px!important;
    background: var(--indigo);
}

.ui-button:focus {
    font-weight: 600!important;;
    border-radius: 20px 20px 0px 0px!important;
}
.ui-button:not(:focus){
    border-radius: 56px;
}
.ui-widget.ui-widget-content {
    border: 0!important;
}
.ui-menu .ui-menu-item {
    padding: 8px 10px!important;
    background: var(--indigo-200) !important;
}
.ui-selectmenu-menu .ui-menu {
    overflow: scroll!important;
    overflow-x: hidden!important;
    padding-bottom: 1px!important;
    max-height: 300px!important;
    border-radius: 0px 0px 20px 20px!important;
    background-color: var(--indigo-200) !important;
    scrollbar-gutter: stable;
}
.ui-menu::-webkit-scrollbar {
  width: 10px!important;
}

.ui-menu::-webkit-scrollbar-track {
  background-color: var(--indigo-100)!important;
  border-radius: 26px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.ui-menu::-webkit-scrollbar-thumb {
  border: var(--indigo-100) 3px solid !important;
  background-color: var(--indigo-500) !important;
  border-radius: 26px;
  width:4px;
}

.ui-menu::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

.select-wrapper .ui-selectmenu-button {
    width: 200px;
    height: auto;
}
.select-wrapper .ui-selectmenu-menu {
    width: 200px;
    max-height: 300px;
    overflow-y: auto;
}
.select-wrapper .ui-menu {
    position: relative;
    padding-bottom: 60px; /* Add padding to make space for the Clear Selection button */
}

.clear-selection {
    display: block;
    text-align: center;
    margin: 10px 10px;
    padding: 4px 20px;
    background-color: transparent;
    color: var(--indigo);
    border-radius: 56px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    border: 1px solid var(--indigo);
}


.ui-selectmenu-menu.ui-front.ui-selectmenu-open {
    border-radius: 0px 0px 20px 20px !important;
    background-color: var(--indigo-200) !important;
    padding-top: 15px;
    font-family: Inter Tight, sans-serif !important;
    font-size: 14px !important;
    font-weight: 600;
    z-index: 9;
}

#Cat-Select-3-menu.ui-widget, #Type-Select-3-menu.ui-widget, #Author-Select-3-menu.ui-widget {
    font-family: Inter Tight, sans-serif !important;
    font-size: 14px !important;
    font-weight: 600;
}

#Cat-Select-3-button, #Type-Select-3-button, #Author-Select-3-button {
    z-index: 10;
}

.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 8px 10px;
    font-weight: 600!important;
    font-family: 'Inter'!important;
    font-size: 16px!important;
}

/** .load-more-button:hover .arrow-page-right{
    padding-left: 15px;
    transform: translate(0);
} **/

.load-more-button:hover .arrow-page-right svg path {
    stroke: var(--indigo)!important;
}

.load-more-button:hover .arrow-page-left svg path {
    stroke: var(--indigo)!important;
}

.form-cta, .cta, .CTA {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.w-form-done {
    margin-top: 50px;
}

.blog-details h1, .blog-details h2, .blog-details h3, .blog-details h4, .blog-details h5{
    font-family: Rentsans, sans-serif;
}

.blog-details .blog-content img {
    padding-bottom: 32px;
}

#is-related .collection-list-resource:not(:nth-child(-n+3)) {
    display: none;
}

@media screen and (max-width: 767px) {
    .contact-form-wrap {
        position: relative;
        width: 100%;
    }
    .get-started-form-slider.form-slider-mobile {
        overflow-x: hidden;
        overflow-y: auto;
    }
   .ui-selectmenu-button.ui-button {
        width: 100%!important;
   }
}
